.box {
  color: white;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}

.box1 { 
  background:#ff66ff;
  padding:20px 10px;
}
.box2 { 
  background:#ff0099;
  padding:50px 10px;
}
.box3 { 
  background:#ff66cc;
  padding:30px 10px;
}
.box4 { 
  background:#ffccff;
  padding: 60px 20px;
}
.box5 { background:#ff0099;}
.box6 { background:#ff66cc;}
.box7 { background:#ffccff;}
.box8 { background:#ff66ff;}
.box9 { background:#ff0099;}


.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
