.box {
  color: white;
  font-size: 100px;
  padding: 10px;
  width: 100vh;
}

.box1 { 
  background:#ff66ff;
  padding:20px 10px;
}
.box2 { 
  background:#ff0099;
  padding:50px 10px;
}
.box3 { 
  background:#ff66cc;
  padding:30px 10px;
}
.box4 { 
  background:#ffccff;
  padding: 60px 20px;
}
.box5 { 
  background:#ff0099;
  padding: 20px 10px;
}
.box6 { 
  background:#ff66cc;
  padding: 40px 10px;
}
.box7 { 
  background:#ffccff;
  padding: 30px 10px;
}
.box8 { 
  background:#ff66ff;
  padding: 50px 10px;
}
.box9 { 
  background:#ff0099;
  padding: 30px 10px;
}


.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: block;
}
