.heading {
  background-color: #ff1ea8;
  font-family: serif;
  font-weight: bold;
  font-size: 45px;
  color:#F4E8FF;
  text-align: center;
  padding:5px 0px;
  margin: 0px;
  border:2px solid black;
  clear: both;
  position: relative fixed;
  
  
}

.sub_heading {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 2px;
  margin: 0px;
  clear: both;
  position: relative fixed;
}